<nav class=" bg-custom d-flex h-4 pe-3" id="desktop-nav">
  <div class="container-fluid h-4">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Classes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Students</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" aria-disabled="true">Disabled</a>
        </li>
      </ul>
    </div>
</nav>
