<!-- overview -->
<div class="container-fluid mt-5" id="dashboard-page">
  <section class="container gx-5 mb-5">
    <div class="row">
      <div class="col">
        <h3>Overview</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-6 col-md-4 mt-4">
        <div class="card p-2">
          <h6>Total Students</h6>
          <h4>150</h4>
        </div>
      </div>
      <div class="col-6 col-md-4 mt-4">
        <div class="card p-2">
          <h6>Active classes</h6>
          <h4>25</h4>
        </div>
      </div>
      <div class="col-12 col-md-4 mt-4">
        <div class="card p-2">
          <h6>Payment Receipt</h6>
          <h4>$17.00</h4>
        </div>
      </div>
    </div>
  </section>
  <section class="container gx-5 mt-5" id="students-mobile-view">
    <div class="row">
      <div class="col">
        <h3>Students</h3>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <form class="d-flex">
          <input class="form-control me-2 p-2 border shadow bg-body" type="search" placeholder="Search"
            aria-label="Search">
          <!-- <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
        <div class="container-fluid">
          <div class="mt-4">
            <div class="card-body mt-4">
              <h5 class="card-title">Alaincito Garcia</h5>
              <p class="card-text">Karate</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
            <div class="card-body mt-4">
              <h5 class="card-title">Sophia Clark</h5>
              <p class="card-text">Vallet, Jazz</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
